
<center>

  <%= link_to_function("<<<", 
                       "window.grid.slide_time(-#{180.minutes})") %>
    &nbsp;&nbsp;&nbsp;
  <%= link_to_function("&nbsp;<<".html_safe, 
                       "window.grid.slide_time(-#{60.minutes})") %>
    &nbsp;&nbsp;&nbsp;
  <%= link_to_function("&nbsp;<&nbsp;".html_safe, 
                       "window.grid.slide_time(-#{15.minutes})") %>
    &nbsp;&nbsp;&nbsp;
  <%= link_to_function("&nbsp;>&nbsp;".html_safe, 
                       "window.grid.slide_time(#{15.minutes})") %>
    &nbsp;&nbsp;&nbsp;
  <%= link_to_function(">>&nbsp;".html_safe, 
                       "window.grid.slide_time(#{60.minutes})") %>
    &nbsp;&nbsp;&nbsp;
  <%= link_to_function(">>>", 
                       "window.grid.slide_time(#{180.minutes})") %>
    <br/>

    </center>

    <div id="multi_sched_view" class="multisched"
         <%= "starttime='#{@t1.to_i}' 
                endtime='#{@t2.to_i}'"%> >
 
 <% @rsrcs.each do |rsrc|  
      label = rsrc.label() || '';
      title = rsrc.title() || '';  %>

      <div id="Row_<%= rsrc %>" class="<%= rsrc.css_classes_for_row() %>">

        <div class="rsrclabel">
          <div><%= label %></div>
          <img src="/assets/<%= label %>.jpg" title="<%= title %>" />
        </div>

        <div id='timespan<%= rsrc %>' class="timespan" >
              
          <%= render(:partial=>'spancontent',
                     :object=>(@blockss[rsrc] || [] )) %>
        </div>
      </div>

 <% end %>

</div>

