<!-- _program_internal.html.erb                            -->
<!-- Copyright (c) 2006-2011 Mike Cannon                   -->
<!--               (http://github.com/emeyekayee/Timeline) -->
<!--               (michael.j.cannon@gmail.com)            -->

<% block = program_internal %>
    <div class="tt" style="display: none;">
      <dl class="detail_list">
        
        <dt> Airtime:</dt>
        <dd>
          <%= block.starttime.strftime("%I:%M %p").downcase!.sub(/^0/,'')%>
          to <%= block.endtime.strftime("%I:%M %p").downcase!.sub(/^0/,'')%>
        </dd>

        <dt>Title:</dt> <dd> <%= h(block.title) %> </dd>

      <% if( (v = block.subtitle) && v.length > 0 ) %>  
        <dt>Subtitle:</dt> <dd> <%= h(v) %> </dd> <% end %>

      <% if( (v = block.description) && v.length > 0 ) %>  
        <dt>Description:</dt> <dd> <%= h(v) %> </dd> <% end %>

      <% if( (v = block.stars) && v > 0 ) %>  
        <dt>Rating:</dt> <dd> <%= h(v) %> </dd> <% end %>

      <% if( (v = block.airdate) && v.to_i > 0 ) %>  
        <dt>Orig. Airdate:</dt> <dd> <%= h(v) %> </dd> <% end %>

        <dt>Category:</dt> <dd> <%= h(block.category) %> </dd>

      <% if( (v = block.previouslyshown) && v.to_i != 0) %>  
        <dt>Rerun:</dt> <dd> Yes </dd> <% end %>

      </dl>
    </div>
