<!DOCTYPE html>
<html  lang="en" ng-app="tvApp">
<head>
  <meta charset="utf-8">
  <title>Ang-Rails Tv <%= controller.action_name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <%= yield %>

    <!--Body content-->
    <div class="row"> <!-- -fluid -->
      <div ng-controller="ResourceListCtrl" ng-click="more_data()"> 

        <div id="labels-container">
          <div id="resource-labels">
            <div ng-controller="LabelListCtrl"
                 ng-repeat="rsrc in rsrcs"
                 class="rsrcRow {{ rsrc.tag | rowKind }}row">

              <div class="rsrclabel">
                <img ng-src="/assets/{{ rsrc.label }}.jpg" title="{{ rsrc.title }}" />
                <div class="filter"> </div>
                <div class="label-text">{{rsrc.label}}</div>
              </div>

            </div>
          </div>
        </div>

        <div id="timespans-container">
          <div id="scrolling-container">
            <div id="positioned-container">
              <div id="current-time-cursor"> </div>

              <div ng-repeat="res_tag in res_tags"
                   ng-controller="UseBlockListCtrl"
                   class="rsrcRow {{ res_tag | rowKind }}row">
                
                <div class="timespan">
                  <div ng-repeat="block in use_blocks" 
                       ng-controller="UseBlockCtrl"  valign="top"
                       class="{{ block.css_classes }} blockdiv"
                       style="{{ block | style_geo }} ">

                    <div class="text_locator"
                         style="position: absolute; left: 0px">
                      <a href="">{{ block.label }}<br/>
                                 {{ block.sub_label }}</a>
                    </div>

                    <!-- ~/aws-tv/app/views/schedule/_block_internal.html.erb -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
              
        <div id="scrollbar-hider"> </div>

      </div> <!-- end ResourceiLstCtrl -->
    </div>

  </div>
</body>
</html>
